@using SimplCommerce.Module.Core.Models

@using Microsoft.AspNetCore.Authorization
@using SimplCommerce.Module.Core.Extensions.Constants
@inject IAuthorizationService AuthorizationService
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <li>
        @if ((await AuthorizationService.AuthorizeAsync(User, Policy.CanAccessDashboard)).Succeeded)
        {
            <a asp-controller="HomeAdmin" asp-action="Index" title="@Localizer["Admin"]">@Localizer["Hello {0}!", UserManager.GetUserName(User)]</a>
        }
        else
        {
            <a asp-controller="Manage" asp-action="Index" title="@Localizer["Manage"]">@Localizer["Hello {0}!", UserManager.GetUserName(User)]</a>
        }
    </li>
    <li>
        <form asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm" class="">
            <button type="submit" class="btn btn-link navbar-btn navbar-link">@Localizer["Log off"]</button>
        </form>
    </li>
}
else
{
    <li>
        <a asp-controller="Account" asp-action="Login">@Localizer["Log in"]</a>
    </li>
    <li>
        <a asp-controller="Account" asp-action="Register">@Localizer["Register"]</a>
    </li>
}
